body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.field {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root {
  width: 950px;
  display: flex;
  flex-wrap: wrap;
}
